$backgr-color-bd:rgba(198, 238, 252, .53);
$backgr-color-cont: #3b3b3b;
$header-col:#fccd10;
$bri-col:#fff178;
$bri-h:25px;
$bri-w:auto;
$b-flo:none;
$hyperl-color:#f5c70f;
$table-col:#94a34e;
$for-col:#808080;
$table-back-col: #677d01;
$body-text-color: #fff;
$label-col:#f5c70f;
$margtop-img: 20px;
$h1upper: uppercase;
