$backgr-color-bd:#dcbb9a;
$backgr-color-cont:#ffffff;
$header-col:#893c00;
$bri-col:#fadcba;
$bri-h:50px;
$bri-w:380px;
$b-flo:left;
$b-ma:15px;
$hyperl-color:#3d70a1;
$table-col:#e0e0e0;
$for-col:#808080;
$label-col:#808080;
$margin-bri:15px;
